.ekr {
	padding: 35px 0;
}
.ekr.ekr-second {
	padding-top: 70px;
}
.ekr.last-ekr {
	padding-bottom: 70px;
}

.btn {
	display: block;
	width: 100%;
	max-width: 170px;
	font-size: 16px;
	border-radius: 3px;
	line-height: 1;
	padding: 14px 10px;
	font-weight: 600;
	color: #ffffff;
	background-color: #28b758;
	text-align: center;
}
.btn:hover {
	background-color: #209447;
}
.btn.btn-red {
	background-color: #ff212e;
}
.btn.btn-red:hover {
	background-color: #df1925;
}
.btn.btn-border {
	padding: 13px 9px;
	border: 1px solid #ffffff;
	background-color: transparent;
}
.btn.btn-border:hover {
	background-color: #ffffff;
	color: #333333;
}

.b-title {
	display: block;
	font-weight: 600;
	font-size: 30px;
}
.b-title.main {
	font-size: 40px;
}

.header {
	z-index: 100;
}
.header-carantine {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url('../i/carantine-fon.jpg');
	padding: 15px 0;
}
.header-carantine .text {
	display: inline-block;
	font-size: 14px;
	color: #ffffff;
	font-weight: 700;
	position: relative;
	padding-left: 40px;
}
.header-carantine .text img {
	display: block;
	max-width: 30px;
	max-height: 30px;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.header-carantine .text p {
	display: block;
	text-align: left;
}
.header-top {
	padding: 20px 0;
}
.header-top .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-top .logo {
	display: block;
	width: 100%;
	max-width: 158px;
}
.header-top .logo img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.header-top .logo span {
	display: block;
	color: #28b758;
	font-size: 14px;
}
.header-select-wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: left;
	width: calc(100% - 328px);
	max-width: 545px;
}
.header-select-wrap .text {
	margin-right: 30px;
}
.header-select-wrap .text p {
	display: block;
	font-size: 14px;
}
.header-select-wrap .text p a {
	font-size: 18px;
	font-weight: 600;
	white-space: nowrap;
}
.header-select {
	position: relative;
	z-index: 10;
	width: 100%;
	max-width: 215px;
}
.header-select-text {
	position: relative;
	border: 1px solid #cccccc;
	padding: 13px 33px 13px 10px;
	background-color: #ffffff;
	text-align: left;
	font-size: 14px;
	border-radius: 3px;
	cursor: pointer;
}
.header-select.active .header-select-text {
	border-radius: 3px 3px 0 0;
}
.header-select-text span {
	display: block;
	overflow: hidden;
	white-space: nowrap;
}
.header-select-text:before {
	content: '';
	width: 13px;
	height: 13px;
	position: absolute;
	right: 10px;
	top: calc(50% - 6.5px);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url('../i/header-sel-arr.svg');
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-select.active .header-select-text:before {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.header-select-drop {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	border: 1px solid #cccccc;
	border-top: 0;
	border-radius: 0 0 3px 3px;
	background-color: #ffffff;
	padding-bottom: 3px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	max-height: 112px;
}
.header-select.active .header-select-drop {
	display: block;
}
.header-select-drop ul li {
	padding: 5px;
	font-size: 14px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-select-drop ul li:hover {
	background-color: #f5f5f5;
}
.header-select-drop ul li.active {
	background-color: #0c2c5c;
	color: #ffffff;
}
.header-bot {
	padding: 11px 0;
	background-color: #0c2c5c;
}
.header-bot .nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-bot .nav li {
	padding: 0 5px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
}
.header-bot .nav li:first-child {
	padding-left: 0;
}
.header-bot .nav li:last-child {
	padding-right: 0;
}
.header-bot .nav li a {
	color: #ffffff;
}

.footer {
	background-color: #2e2e2e;
	text-align: left;
}
.footer .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer-top {
	padding: 50px 0 40px;
}
.footer-top ul {
	margin-right: 30px;
}
.footer-top ul:last-child {
	margin-right: 0;
}
.footer-top ul li {
	color: #ffffff;
	font-size: 16px;
	margin-bottom: 10px;
}
.footer-top ul li a {
	color: #ffffff;
}
.footer-mid {
	background-color: #ffffff;
	padding: 10px 0;
}
.footer .footer-mid .wrap {
	align-items: center;
}
.footer-mid .text {
	font-size: 14px;
}
.footer-mid .text a {
	font-weight: 600;
	white-space: nowrap;
}
.footer-mid .social {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-left: 20px;
}
.footer-mid .social li {
	max-width: 35px;
	margin-left: 10px;
}
.footer-mid .social li img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.footer-bot {
	padding: 30px 0;
}
.footer-bot .footer-cookie {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	max-width: 770px;
	font-size: 12px;
	color: #9c9c9c;
}
.footer-bot .footer-cookie a {
	color: #9c9c9c;
}
.footer-bot .footer-cookie p {
	display: block;
}
.footer-bot .footer-cookie p:first-child {
	width: calc(50% + 30px);
}
.footer-bot .footer-cookie p:last-child {
	width: calc(50% - 60px);
}
.footer-bot .footer-info ul li {
	font-size: 12px;
	color: #9c9c9c;
}
.footer-bot .footer-info ul li a {
	color: #9c9c9c;
}
.footer-bot .footer-info .logo-dev {
	display: inline-block;
	margin-top: 20px;
}
.footer-bot .footer-info .logo-dev span {
	display: inline-block;
	vertical-align: middle;
	color: #9c9c9c;
	font-size: 12px;
}
.footer-bot .footer-info .logo-dev img {
	display: inline-block;
	vertical-align: middle;
	max-width: 82px;
}

.face {
	padding: 40px 0 35px;
	background-color: #c2e6fa;
}
.face-nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}
.face-nav ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	border-bottom: 1px solid #0c2c5c;
}
.face-nav ul li {
	position: relative;
	font-size: 18px;
	color: #0c2c5c;
	padding-bottom: 7px;
	margin-right: 30px;
}
.face-nav ul li:last-child {
	margin-right: 0;
}
.face-nav ul li.active:before {
	content: '';
	width: 100%;
	height: 2px;
	position: absolute;
	left: 0;
	bottom: -1px;
	background-color: #ffe814;
}
.face-nav ul li a {
	color: #0c2c5c;
}
.face-nav ul li a:hover {
	color: #2861b7;
}
.face-tourvisor {
	margin-top: 20px;
}
.face-slider {
	position: relative;
	margin-top: 20px;
	padding-bottom: 30px;
}
.face-slider .slick-arrow {
	display: block;
	border: 0;
	font-size: 0;
	background-color: #ffffff;
	background-repeat: no-repeat;
	width: 30px;
	height: 40px;
	position: absolute;
	top: calc(50% - 35px);
	z-index: 10;
}
.face-slider .slick-prev {
	left: 0;
	border-radius: 0 100px 100px 0;
	background-image: url('../i/face-arr-prev.svg');
	background-position: 35% 50%;
}
.face-slider .slick-next {
	right: 0;
	border-radius: 100px 0 0 100px;
	background-image: url('../i/face-arr-next.svg');
	background-position: 65% 50%;
}
.face-slider .slick-dots {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 0;
	left: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.face-slider .slick-dots li {
	margin: 0 6px;
}
.face-slider .slick-dots li button {
	display: block;
	width: 12px;
	height: 12px;
	background-color: #abd5ec;
	border: 0;
	font-size: 0;
	border-radius: 50%;
}
.face-slider .slick-dots li.slick-active button {
	background-color: #0c2c5c;
}
.face-slide img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	border-radius: 10px;
}

.scroll-wrap {
	position: relative;
	padding-right: 300px;
}
.scroll-wrap-banner {
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	padding: 25px 20px 240px;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	max-width: 270px;
}
.scroll-wrap-banner.scroll {
	position: fixed;
	top: 30px;
	right: calc(50% - 585px);
}
.scroll-wrap-banner.bottom {
	top: auto;
	bottom: 0;
}
.scroll-wrap-banner-content {
	position: relative;
	z-index: 1;
}
.scroll-wrap-banner .title {
	font-size: 24px;
	color: #ffffff;
	font-weight: 600;
}
.scroll-wrap-banner .btn {
	margin: 15px auto 0;
}
.scroll-wrap-banner .abs-img {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.b-banner {
	position: relative;
	background-color: #0c2c5c;
	padding: 40px 70px 0;
	color: #ffffff;
	border-radius: 5px;
	overflow: hidden;
}
.b-banner:before {
	content: '';
	width: 100%;
	height: 120px;
	position: absolute;
	left: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url('../i/banner-figure-1.svg');
}
.b-banner .wrap {
	margin-top: 50px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	position: relative;
}
.b-banner .banner-item {
	position: relative;
	width: calc(50% - 80px);
	padding-bottom: 150px;
	text-align: left;
	z-index: 2;
	order: 1;
}
.b-banner .banner-item.border {
	order: 0;
}
.b-banner .banner-item.border:before {
	content: '';
	width: 1px;
	height: calc(100% - 150px);
	position: absolute;
	right: -80px;
	top: 0;
	background-color: #3a5987;
}
.b-banner .banner-item .title {
	font-size: 18px;
	font-weight: 600;
}
.b-banner .banner-item .btn {
	margin-top: 40px;
	max-width: 200px;
}
.b-banner .banner-item .phone-select-wrap {
	margin-top: 30px;
}
.b-banner .banner-item .abs-img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	z-index: -1;
	position: absolute;
	right: -40px;
	bottom: 0;
}

.phone-select-wrap {
	position: relative;
}
.phone-select {
	position: relative;
	z-index: 10;
	width: 100%;
	max-width: 230px;
	text-align: left;
}
.phone-select-text {
	position: relative;
	border: 1px solid #cccccc;
	padding: 13px 33px 13px 10px;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	border-radius: 3px;
	cursor: pointer;
}
.phone-select.active .phone-select-text {
	border-radius: 3px 3px 0 0;
}
.phone-select-text span {
	display: block;
	overflow: hidden;
	white-space: nowrap;
}
.phone-select-text:before {
	content: '';
	width: 13px;
	height: 13px;
	position: absolute;
	right: 10px;
	top: calc(50% - 6.5px);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url('../i/phone-sel-arr.svg');
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.phone-select.active .phone-select-text:before {
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
}
.phone-select-drop {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	border: 1px solid #cccccc;
	border-top: 0;
	border-radius: 0 0 3px 3px;
	background-color: #ffffff;
	padding-bottom: 3px;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	max-height: 112px;
}
.phone-select.active .phone-select-drop {
	display: block;
}
.phone-select-drop ul li {
	padding: 5px;
	font-size: 14px;
	cursor: pointer;
	color: #333333;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.phone-select-drop ul li:hover {
	background-color: #f5f5f5;
}
.phone-select-drop ul li.active {
	background-color: #28b758;
	color: #ffffff;
}
.phone-select-wrap .phone-a {
	display: inline-block;
	font-size: 18px;
	font-weight: 600;
	color: #ffffff;
	margin-top: 20px;
}

.b-advs {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	text-align: left;
}
.b-advs li {
	width: calc(50% - 15px);
	max-width: 480px;
	margin-top: 40px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.b-advs li .icon {
	position: relative;
	width: 80px;
}
.b-advs li .icon img {
	display: block;
	max-width: 100%;
}
.b-advs li .content {
	width: calc(100% - 105px);
}
.b-advs li .title {
	font-size: 18px;
	font-weight: 600;
}
.b-advs li .text {
	margin-top: 10px;
	font-size: 14px;
}
.b-advs li .text p {
	display: block;
}

.b-page-nav {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 20px;
}
.b-page-nav li {
	width: calc(50% - 15px);
	text-align: left;
	color: #ffffff;
	padding: 65px 40px;
	margin-top: 30px;
	border-radius: 5px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
}
.b-page-nav li.dark {
	color: #333333;
}
.b-page-nav li .nav-wrap {
	width: 100%;
	max-width: 200px;
	margin-left: auto;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	align-content: space-between;
	flex-wrap: wrap;
}
.b-page-nav li .btn {
	max-width: none;
	margin-top: 25px;
}
.b-page-nav li.dark .btn.btn-border {
	border-color: #333333;
	color: #333333;
}
.b-page-nav li.dark .btn.btn-border:hover {
	background-color: #333333;
	color: #ffffff;
}
.b-page-nav li .title {
	width: 100%;
	font-size: 24px;
	font-weight: 600;
}

.b-text-cols {
	margin-top: 40px;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}
.b-text-cols .col {
	width: calc(50% - 30px);
	max-width: 460px;
	text-align: left;
	font-size: 14px;
}
.b-text-cols .col h4 {
	display: block;
	font-size: 16px;
	font-weight: 600;
}
.b-text-cols .col p {
	display: block;
}

.b-last-news {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-wrap: wrap;
	margin-top: 40px;
}
.b-last-news-item {
	width: calc(100%/3 - 20px);
	margin-right: 30px;
	margin-bottom: 30px;
	display: block;
	padding-bottom: 55px;
	background-color: #0c2c5c;
	border-radius: 5px;
	overflow: hidden;
	color: #ffffff;
	text-align: left;
	position: relative;
}
.b-last-news-item:nth-child(3n) {
	margin-right: 0;	
}
.b-last-news-item .image {
	height: 200px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.b-last-news-item .name {
	padding: 30px;
	font-weight: 600;
	font-size: 20px;
}
.b-last-news-item .date {
	max-width: calc(100% - 60px);
	color: #678cc3;
	font-size: 16px;
	position: absolute;
	left: 30px;
	bottom: 25px;
}

.breadcrumbs {
	padding: 15px 0;
	text-align: left;
}
.breadcrumbs ul {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs ul li {
	font-size: 14px;
	color: #333333;
	margin-right: 4px;
}
.breadcrumbs ul li:last-child {
	margin-right: 0;
}
.breadcrumbs ul li a {
	color: #333333;
}

.first-ekr {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: left;
	overflow: hidden;
}
.first-ekr.with-img:before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	left: 0;
	top: 0;
}
.first-ekr .wrap {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}
.first-ekr .content {
	width: calc(50% - 45px);
	padding: 50px 0 90px;
}
.first-ekr .text {
	font-size: 18px;
	margin-top: 25px;
}
.first-ekr .text p {
	display: block;
}
.first-ekr .content .btn {
	margin-top: 80px;
	max-width: 200px;
	padding: 17px 10px;
}
.first-ekr .image {
	position: relative;
	width: 50%;
}
.first-ekr .image img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	position: absolute;
	right: 0;
	bottom: 0;
}




@media screen and (max-width: 1280px){
	.footer-bot .footer-cookie {
		display: block;
		width: calc(100% - 280px);
	}
	.footer-bot .footer-cookie p:first-child,
	.footer-bot .footer-cookie p:last-child {
		width: 100%;
	}
	.footer-bot .footer-cookie p {
		margin-bottom: 10px;
	}
	.footer-bot .footer-cookie p:last-child {
		margin-bottom: 0;
	}
	.footer-info {
		width: 100%;
		max-width: 250px;
	}

	.scroll-wrap-banner.scroll {
		right: 30px;
	}

	.b-banner {
		padding: 40px 40px 0;
	}
	.b-banner .banner-item {
		width: calc(50% - 40px);
	}
	.b-banner .banner-item.border:before {
		right: -40px;
	}
	.b-banner .banner-item .abs-img {
		right: -20px;
	}
}
@media screen and (max-width: 1024px){
	.header {
		border-bottom: 1px solid #cccccc;
	}
	.header-top {
		padding: 10px 0;
	}
	.header-top .wrap {
		flex-wrap: wrap;
	}
	.header-select-wrap {
		width: 100%;
		max-width: none;
		padding-top: 11px;
		margin-top: 10px;
		position: relative;
	}
	.header-select-wrap:before {
		content: '';
		width: calc(100% + 60px);
		height: 1px;
		position: absolute;
		left: -30px;
		top: 0;
		background-color: #cccccc;
	}
	.header-select-wrap .text {
		margin-right: 0;
		width: calc(100% - 235px);
		max-width: 340px;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		order: 1;
	}
	.header-select-wrap .text p {
		width: calc(50% - 10px);
	}
	.header-select {
		margin-top: 0;
	}
	.header-btn, .header-bot {
		display: none;
	}

	.b-banner .banner-item .abs-img {
		max-width: 65%;
	}

	.b-page-nav {
		display: block;
		margin-top: 50px;
	}
	.b-page-nav li {
		width: 100%;
		max-width: 570px;
		margin: 30px auto 0;
	}
	.b-page-nav li .nav-wrap {
		display: block;
		height: auto;
	}

	.first-ekr .content {
		width: 100%;
		max-width: 420px;
		padding: 30px 0 50px;
	}
	.first-ekr .content .btn {
		margin-top: 40px;
	}
	.first-ekr .image {
		width: calc(100% - 450px);
	}
	.first-ekr .image img {
		max-width: 400px;
		right: auto;
		left: 0;
	}
}
@media screen and (max-width: 860px){
	.b-last-news {
		justify-content: space-between;
	}
	.b-last-news-item {
		width: calc(50% - 15px);
		max-width: 370px;
		margin-right: 0;
	}
}
@media screen and (max-width: 768px){
	.btn {
		font-size: 14px;
		padding: 13px 10px;
	}

	.ekr {
		padding: 25px 0;
	}
	.ekr.ekr-second {
		padding-top: 50px;
	}
	.ekr.last-ekr {
		padding-bottom: 50px;
	}

	.b-title {
		font-size: 20px;
	}
	.b-title.main {
		font-size: 24px;
	}

	.header-carantine {
		padding: 10px 0;
	}
	.header-carantine .text {
		font-size: 12px;
		padding-left: 35px;
	}
	.header-carantine .text img {
		max-width: 25px;
		max-height: 25px;
	}
	.header-select-wrap .text p {
		font-size: 12px;
	}
	.header-select-wrap .text p a {
		font-size: 14px;
	}
	.header-select-text {
		padding: 9px 20px 9px 10px;
		font-size: 12px;
	}
	.header-select-text:before {
		right: 5px;
		top: calc(50% - 5px);
		width: 10px;
		height: 10px;
	}
	.header-select-drop ul li {
		font-size: 12px;
	}

	.footer-top {
		padding: 15px 0 5px;
	}
	.footer-top .wrap {
		flex-wrap: wrap;
	}
	.footer-top ul {
		width: calc(50% - 10px);
		margin-right: 0;
	}
	.footer-top ul li {
		font-size: 14px;
	}
	.footer-mid .wrap {
		display: block;
	}
	.footer-mid .text {
		font-size: 12px;
	}
	.footer-mid .social {
		margin: 10px auto 0;
		justify-content: center;
	}
	.footer-mid .social li {
		margin: 0 5px;
		max-width: 30px;
	}
	.footer-bot {
		padding: 15px 0;
	}
	.footer-bot .wrap {
		display: block;
	}
	.footer-bot .footer-cookie {
		width: 100%;
		text-align: left;
	}
	.footer-info {
		max-width: none;
		margin: 20px auto 0;
		text-align: center;
	}

	.face {
		padding: 20px 0;
	}
	.face-nav ul li {
		font-size: 14px;
		margin-right: 15px;
		padding-bottom: 5px;
	}
	.face-tourvisor {
		margin-top: 15px;
	}
	.face-slider {
		margin-top: 15px;
		padding-bottom: 20px;
	}
	.face-slider .slick-arrow {
		width: 20px;
		height: 30px;
		top: calc(50% - 25px);
	}
	.face-slider .slick-next {
		background-position: 75% 50%;
	}
	.face-slider .slick-prev {
		background-position: 25% 50%;
	}
	.face-slider .slick-dots li {
		margin: 0 3px;
	}
	.face-slider .slick-dots li button {
		width: 8px;
		height: 8px;
	}

	.scroll-wrap {
		padding-right: 0;
	}
	.scroll-wrap-banner {
		position: relative;
		top: 0;
		right: 0;
		margin: 0 auto;
		padding: 20px 10px 240px;
	}
	.scroll-wrap-banner .title {
		font-size: 18px;
	}

	.b-banner {
		padding: 20px 20px 0;
	}
	.b-banner:before {
		height: 80px;
	}
	.b-banner .wrap {
		display: block;
		margin-top: 20px;
	}
	.b-banner .banner-item {
		width: 100%;
		padding: 0;
		text-align: center;
	}
	.b-banner .banner-item .abs-img {
		position: relative;
		top: 0;
		right: 0;
		margin: 10px auto 0;
		max-width: 100%;
		max-height: 100px;
	}
	.b-banner .banner-item.border {
		padding-top: 20px;
		border-top: 1px solid #3a5987;
	}
	.b-banner .banner-item.border:before {
		content: none;
	}
	.b-banner .banner-item.border .abs-img {
		max-height: 200px;
	}
	.b-banner .banner-item .btn {
		margin: 15px auto 0;
	}
	.b-banner .banner-item .title {
		font-size: 16px;
	}
	.b-banner .banner-item .phone-select-wrap {
		margin-top: 15px;
	}

	.phone-select {
		margin: 0 auto;
	}
	.phone-select-text {
		padding: 9px 20px 9px 10px;
		font-size: 12px;
	}
	.phone-select-text:before {
		right: 5px;
		top: calc(50% - 5px);
		width: 10px;
		height: 10px;
	}
	.phone-select-drop ul li {
		font-size: 12px;
	}
	.phone-select-wrap .phone-a {
		margin-top: 10px;
		font-size: 14px;
	}

	.b-advs li {
		width: calc(50% - 10px);
		max-width: 360px;
		margin-top: 20px;
	}
	.b-advs li .icon {
		width: 40px;
	}
	.b-advs li .content {
		width: calc(100% - 55px);
	}
	.b-advs li .title {
		font-size: 16px;
	}
	.b-advs li .text {
		font-size: 12px;
		margin-top: 6px;
	}

	.b-page-nav {
		margin-top: 30px;
	}
	.b-page-nav li {
		margin: 20px auto 0;
		padding: 35px 15px;
		max-width: 380px;
	}
	.b-page-nav li .nav-wrap {
		max-width: 150px;
	}
	.b-page-nav li .title {
		font-size: 18px;
	}
	.b-page-nav li .btn {
		margin-top: 15px;
	}

	.b-text-cols {
		margin-top: 20px;
		justify-content: space-between;
	}
	.b-text-cols .col {
		font-size: 12px;
		width: calc(50% - 15px);
	}
	.b-text-cols .col h4 {
		font-size: 14px;
	}

	.b-last-news {
		margin-top: 20px;
	}
	.b-last-news-item {
		width: calc(50% - 10px);
		padding-bottom: 40px;
		margin-bottom: 20px;
	}
	.b-last-news-item .name {
		padding: 15px;
		font-size: 16px;
	}
	.b-last-news-item .date {
		max-width: calc(100% - 30px);
		left: 15px;
		bottom: 15px;
		font-size: 12px;
	}

	.breadcrumbs {
		padding: 10px 0;
	}
	.breadcrumbs ul li {
		font-size: 12px;
	}

	.first-ekr .content {
		padding: 20px 0 40px;
		max-width: 340px;
	}
	.first-ekr .text {
		font-size: 14px;
		margin-top: 10px;
	}
	.first-ekr .content .btn {
		margin-top: 20px;
		padding: 15px 10px;
	}
	.first-ekr .image {
		width: calc(100% - 360px);
	}
}
@media screen and (max-width: 560px){
	.header-select-wrap .text {
		display: block;
		width: calc(100% - 180px);
		text-align: right;
	}
	.header-select-wrap .text p {
		width: 100%;
		font-size: 10px;
	}
	.header-select {
		max-width: 160px;
	}

	.footer .wrap {
		display: block;
	}
	.footer-top ul {
		width: 100%;
		text-align: center;
	}

	.b-advs {
		display: block;
	}
	.b-advs li {
		width: 100%;
		margin: 20px auto 0;
	}

	.b-text-cols {
		display: block;
	}
	.b-text-cols .col {
		width: 100%;
		margin: 0 auto 20px;
	}
	.b-text-cols .col:last-child {
		margin-bottom: 0;
	}

	.b-last-news {
		display: block;
	}
	.b-last-news-item {
		width: 100%;
		max-width: 300px;
		margin: 0 auto 20px;
	}
	.b-last-news-item:nth-child(3n){
		margin-right: auto;
	}
	.b-last-news-item:last-child {
		margin-bottom: 0;
	}
	.b-last-news-item .image {
		height: 160px;
	}

	.breadcrumbs ul li {
		font-size: 10px;
	}
	.first-ekr .content {
		max-width: 220px;
	}
	.first-ekr .content .b-title.main {
		font-size: 14px;
	}
	.first-ekr .text {
		font-size: 10px;
	}
	.first-ekr .content .btn {
		font-size: 12px;
	}
	.first-ekr .image {
		width: calc(100% - 240px);
	}
}
@media screen and (max-width: 420px){
	.first-ekr .content {
		max-width: 150px;
	}
	.first-ekr .image {
		width: calc(100% - 160px);
	}
	.first-ekr .image img {
		max-width: 240px;
	}
}